@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {

    font-family: 'Poppins', sans-serif;
    margin: 0ch;
    padding: 0ch;
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: column;
}

.headerPage{
    height: 646px;
    width: 1321px;
    border-radius: 16px;
    background-color: rgb(22, 22, 22);
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 55px;
    margin-top: 30px;
    margin-bottom: 200px;

}

.headerPage .headerinfo .headerHead{


    color: white;
    font-size: 70px;
    font-weight: 800;
}
.headerinfo{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 105px;
    margin-top: 110px;
    margin-right: 25px;
    margin-bottom: 110px;
}
.headerText{
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.headerButton{
    border: 0ch;
    border-radius: 5px;

    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    border: none;
    color: rgb(24, 18, 18);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;


}
.headerButton img{
    width: 20px;
    height: 20px;
    padding-top: 4px;
}
.headerImg{
    width:50%;
}
.headerImg img{
    width: 512px;
    height: 100%;
}
.bodySection{

    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 140px;
}
.menuButtons{
    width: 312px;
    height: 312px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
}
.menuButton1{
    border: 0ch;
    border-radius: 10px;

    background: linear-gradient(to right, #ee0808, #f8f401);
    border: none;
    color: rgb(253, 253, 253);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
    height: 64px;
    width: 252px;
    align-items: center;  
}

.menuButton1:hover {

    background: rgb(42, 42, 216);
    color: white;
    transform: scale(0.9);

}
.menuButton2{
    border: 0ch;
    border-radius: 10px;

    background: linear-gradient(to right, #ee0808, #f8f401);
    border: none;
    color: rgb(253, 253, 253);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 30px;
    height: 64px;
    width: 252px;
    align-items: center;  
}
.menuButton2:hover {

    background: rgb(42, 42, 216);
    color: white;
    transform: scale(0.9);

}
.menuButton3{
    border: 0ch;
    border-radius: 10px;

    background: blue;
    border: none;
    color: rgb(253, 253, 253);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
    height: 64px;
    width: 252px;
    align-items: center;  
    transform: scale(0.9);
}
.menuButton3:hover {

    background: rgb(42, 42, 216);
    color: white;
    transform: scale(1.0);

}
.Blogs{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 312px;
    height: 362px;
    margin-bottom: 16px;
    margin-right: 16px;
    border-radius: 10px;
}

.card img {
    height: 175px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.content {

    padding: 15px;

}

.content p {

    font-size: 18px;
    font-weight: 600;

}

.content span {

    margin-right: 25px;

}
.content span:last-child {

    margin-left: 10px;

}
.btn{
    background-color: white;
    margin-left: 5px;
    padding: 2px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(22, 22, 22);
}

.footer{
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 444px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
}
.footer h1{
    margin-top: 80px;
    padding-bottom: 60px;
    border-bottom: #fff solid 1px;
    border-width: 80%;
    font-size: 50px;
}
.footermedia span{
    margin: 10px;
    font-size: 30px;
}
.extrainfo{
    font-size: 20px;
    margin: 50px;
}
.extrainfo span{
    margin: 30px;
}


/* 
Upcoming Match Styles
*/
.flagcard{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
.flagcard img{
    width: 50px;
    height: 50px;
    margin: 30px;
}
.flagcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 312px;
    height: 362px;
    margin-bottom: 16px;
    margin-right: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.flagcard h2 {
    display: inline;
    display: flex;
    flex-direction: row;
}


/* 
    mobile view styles
*/
@media screen and (max-width: 576px) {
    body{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .headerPage{
        height: 100%;
        width: 576px;
        border-radius: 16px;
        background-color: rgb(22, 22, 22);
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 10px;
    
    }
    .menuButtons{
        
        display: flex;
        flex-direction: column;
        margin: 30px;
        border-radius: 10px;
    }
}